/************* BODY *****************/
body {
  background-color: rgb(250, 250, 250)
}

* {
  color: rgb(10,112,252);
  font-family: 'Athiti', sans-serif;*/
}

/************* NAVBAR *****************/
.navbar-container{
  font-family: 'Cormorant Infant', serif;
  display: flex;
  justify-content: space-between;
  margin: 3px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid rgb(10, 112, 252);
}
.nav-item {
  margin-left: 1em;
  margin-right: 1em;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
}
@media only screen and (max-width: 575px){
  .nav-item {
    margin-right: 0;
  }
}

/************* MAIN *****************/
.main{
  text-align: center;
  text-shadow: 1px 1px 10px #ffffcc;
  color: black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}
@media only screen and (max-width: 900px){
  .main{
    max-width: 80% !important;
  }
  .main-header{
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 575px){
  .main{
    max-width: 85% !important;
  }
  .main-header{
    font-size: 25px !important;
  }
}
.main-header{
  font-size: 35px;
}
.main-subheader{
  font-size: 22px;
}

/************* WORKS *****************/
.works-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.works-item{
  width: 430px;
  height: 380px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  overflow: hidden;
  color: white;
  border: 1px solid rgba(10,112,252,0.9);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}
@media only screen and (max-width: 900px){
  .works-item{
    margin: 8px 5px;
    width: 400px;
    height: 380px;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
}
@media only screen and (max-width: 575px){
  .works-item{
    width: 390px;
    height: 380px;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  .works-header{
    font-size: 24px;
    text-align: center;
  }
}
.works-header{
  font-size: 28px;
  text-align: center;
}
.works-img{
  width: 100%;
  height: 100%;
}

/************* SECTION *****************/
.section{
  height: 100%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media only screen and (max-width: 900px){
  .section{
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 635px){
  .section{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-header {
  font-size: 35px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 5px;
}

/************* ABOUT *****************/
.about-header{
  font-size: 40px;
}
.about-container{
  display: inline-flex;
  justify-content: center;
  flex-flow: column;
}
.about-item{
  width: 700px;
  padding: 15px;
  font-size: 24px;
  color: rgb(244,240,240);
}
@media only screen and (max-width: 900px){
  .about-item{
    width: 90%;
  }
}

/************* ICON *****************/
.icon-container{
  display: flex;
  justify-content: center;
  flex-flow: row;
  background-color: rgba(10,112,252,0.9);
  color: white;
  padding: 20px;
  margin-top: 10%;
}
.icon-image{
  height: 50px;
  width: 50px;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 50%
}


.icon-github{
  background: url('../images/github.png');
  background-size: cover;
  overflow: hidden;
}
.icon-linkedin{
  background: url('../images/linkedin.jpg');
  background-size: cover;
}
.icon-email{
  background: url('../images/email.png');
  background-size: cover;
}

/************* SKILLS *****************/
.skills-container{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.skills-subcontainer{
  border: 1px solid rgb(10,112,252);
  padding: 4px;
  margin: 3px;
}
.skills-item{
  font-size: 20px;
}
